/*div.z-tree-body {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

div.z-tree {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

td.z-treecell:first-child {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  border-radius: 10px 10px;
}

span.z-tree-ico z-tree-tee-close {
  background-image: url(../images/close_tree.png)
}

span.z-tree-ico z-tree-tee-open {
  background-image: url(../images/open_tree.png);
}*/

/*div.z-listbox {
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #346F97;
}*/

/*
span.z-dottree-tee-close {
  background-image: url("../images/about.png")
}

span.z-dottree-tee-open {
  background-image: url("../images/about.png");
}*/
