.z-tree-body {
  text-align: left;
}

.z-tree {
  background: #FFFFFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #346F97;
}

.z-tree-ico z-tree-tee-close {
  background-image: url(../images/close_tree.png)
}

span.z-tree-root-open {
  background-image: url(../images/open_tree.png);
}

.z-listbox {
  background: #FFFFFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #346F97;
}